/* Base styles for Tempo Kitchen-----------------*/
body{
    color: grey;
    margin: 0;
    font-size: 1.5em;
    /* font-family: Helvetica, ans-serif; monospace; */
    /* font-weight: 40px;
    line-height: 1.5 */
}

.sub {
    color: snow;
    font-weight: 700;
}

ul, li {
    font-family: Helvetica, ans-serif;
    font-weight: 100;
}

.flex-container {
    display: flex;
}

.membership {
    /* height: 100px; */
    min-width: 100px;
    flex-grow: 1;
}

/* .home {
    flex-grow: 1;
}
.about {
    flex-grow: 2;
} */


h3 {
    font-size: 2rem;
    color: #48525c;
    margin-bottom: 30px;
}

h4 {
    font-size: 1rem;
    font-weight: bolder;
}

.nav {
    list-style-type: none;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    padding-left: 0;
    margin: 30px 0;
}



/*Pseudo-Classes--need to add the href atribut-------------*/
a:link {
    color: lightblue;
    text-decoration: none;
}

a:visited {
    color: #66cdaa;
}

a:hover {
    color: teal;
}

/*  a:active {
      color: lightcoral;
  }*/

/* Main Styles---*/

.main-header {
    padding-top: 170px;
    padding-bottom: 50px;
    width: 100%;
    margin-left: 0%;
    height: 300px;

    background:
            slategrey url('cafe.jpg') no-repeat 30% 49%;

}


/*linear-gradient( aquamarine, transparent 90%),*/
#title {
    color: pink;
    font-size: 120px;
    padding-top: 50px;
}

#title {
    color: snow;
    font-size: 23px;
    padding-top: 24px;
    margin-top: -90px;
}

.primary-content,
.main-header,
.nav-bar,
.t-border {
    text-align: center;
}

.primary-content {
    width: 60%;
    margin: auto;
    max-width: 900px;
    padding-top: 40px;
}

/* 
.secondary-content {
    margin-top: 160x;
    padding-bottom: 170px;

} */

.callout {
    font-size: 1.25em;
    text-decoration: none;
    border-bottom: 3px solid;
    padding: 20px 9px 0px;
    margin-top: 20px;
    display: inline-block;

}

.contact {

    background-image:
            linear-gradient(180deg, #fff, transparent),
            url('cafe.jpg');
    background-position: 30% 95%;
    background-size: cover;
}

#main-footer {
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: solid 10px gray;
    background-color: #48525c;;
}

.t-border {
    border-top: 2px solid lightgrey;
}

/*Layout Styles-----------*/


/* .secondary-content {
    width: 65%
    max-width: 900px;
    padding: 30px;
} */

.services {
    color:  blanchedalmond;
    background-color: #434a52;
    padding: 10% 25%;
    border-top: 10px solid blanchedalmond;
    margin: 105px 0 60px;
}

.one,
.two,
.three {
    margin-top: 50px;
    padding: 35px;
}

/* Floated Columns-----*/

.one,
.two,
.three {
    width: 27%
}

.two {
    float: left;
}

.one {
    float: left;
}

.three {
    float: right;
}
/* Float Clearfix----------*/

p {
    font-weight: lighter;
    margin: 25px 0 10px;
}

/*Adding a horizantal line*/

/* @media (max-width: 960px) {

    body {
        background: #384047;
    }

    p {
        color: snow;
    }

    h1,
    h3,
    h4 {
        color: #66cdaa;
    }
} */

@media (max-width: 1024px) {
    .primary-content,
    .secondary-content {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        width: 100%;
        padding: 20px;

    }

    .main-header {
        max-height: 380;
        padding: 50px 25px 0;

    }

    .title {
        font-size: 1.3rem;

    }

    h1 {
        font-size: 1rem;

    }

    .one,
    .two,
    .three {
        float: none;
        width: 100%;

    }
}